Body {
  background-color: #2C1033;


}

.pic {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  background-color: #30302D;
  border-radius: 12px;
}


nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  gap: 15px;
  font-size: 1.2rem;
}


nav a:hover {
  color: maroon;

}



nav li:first-child {
  margin: 0 auto;
  order: 2;
  padding-right: 15%;
  font-size: x-large;

}

nav li:nth-child(2),
nav li:nth-child(3),
nav li:nth-child(4),
nav li:nth-child(5) {
  order: 1;

}

nav li:nth-child(6),
nav li:nth-child(7) {
  order: 3;
  padding-right: 3%;

}




a {
  color: #FFFFFF;
  text-decoration: none;
}

.header {
  text-align: center;
  color: #FFFFFF;
}

.port {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 35%;
  align-self: center;
  justify-content: center;
  border-radius: 12px;
}

.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 65%;
  width: 55%;
  color: #FFFFFF;
  font-size: 1.5rem;
  justify-content: center;
  padding-left: 350px;

}

.info {
  display: flex;
  color: #FFFFFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #30302D;
  max-width: 300px;
  max-width: 300px;
  border-radius: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-1 {
  text-align: center;
  color: #FFFFFF;
  padding-top: 20%;
}




.projects {
  display: flex;
  color: #FFFFFF;
  flex-direction: column;
  align-items: center;
  min-height: 10vh;
  border-radius: 15px;
}

.header-2 {
  text-align: center;
  color: #FFFFFF;
  padding-top: 6%;

}

.projects a:hover {
  color: maroon;

}

.bottom {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  border-radius: 15px;
  height: 30px;
  justify-content: center;
  padding-top: 6%
}

.bottom-list {
  align-items: center;
  height: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  gap: 20px;
  border-radius: 15px;


}

.sym {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 40px;


}

.move {
  height: 3rem;
  width: 3rem;
  border-radius: 6px;

}

.sym:hover {
  cursor: pointer;
}

@media (min-width: 300px) {
  body {
    display: flex;
  }

  .row {
    display: flex;
    gap: 15px;
    height: 80px;
    width: 100%;

  }

  .about {
    display: flex;
    padding-left: 22%;
  }


}

.react-icon {
  font-size: 1.5rem;
  padding-bottom: 50px;
}