Body{
  background-color: #2C1033;
  
  
}

.pic{
  display: flex;
  justify-content: center;
}

nav ul {
  align-items: center;
  height: 60px;
  background-color:#30302D;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
  border-radius: 15px;
  font-size: 1.2rem;


}

nav a:hover {
  color: maroon;

}

nav ul {
  justify-content: flex-end;
}

nav li:first-child{
  margin: 0 auto;
  order: 2;
  padding-right: 15%;
  font-size: x-large;

}

nav li:nth-child(2),
nav li:nth-child(3),
nav li:nth-child(4),
nav li:nth-child(5){
  order: 1;

}

nav li:nth-child(6),
nav li:nth-child(7){
  order: 3;
  padding-right: 3%;

}




a {
  color: #FFFFFF;
  text-decoration: none;
}

.header{
  text-align: center;
  color: #FFFFFF;
}

.about {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  max-height: 500px;
  max-width: 550px;
  color: #FFFFFF;
  box-sizing: border-box;
  background-color:#30302D;
  font-size: 1.5rem;
  justify-content: center;
  border-radius: 15px;
}

.info{
  display: flex;
  color: #FFFFFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #30302D;
  max-width: 300px;
  max-width: 300px;
  border-radius: 15px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-1{
  text-align: center;
  color: #FFFFFF;
  border-radius: 7px;
}

.projects{
  display: flex;
  color: #FFFFFF;
  flex-direction: column;
  align-items: center;
  background-color: #30302D;
  min-height: 10vh;
  border-radius: 15px;
}

.header-2{
  text-align: center;
  color: #FFFFFF;

}
.projects a:hover {
  color: maroon;

}

.bottom{
  align-items: center;
  color: #FFFFFF;
  display: flex;
  border-radius: 15px;
  height: 30px;
  justify-content: center;
  padding: auto;

}

.bottom-list{
  align-items: center;
  height: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  gap: 20px;
  border-radius: 15px;
 

}

 ul{
  justify-content: flex-end;

}







